:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --sec-bg-color: #f4f4fd;
  --header-bg-color: #e7e9fc;
  --black-color: #000000;
  --white-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TOOLS */
.hidden {
  display: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  outline: 2px solid tomato;
}

/* PAGE HEADER */
.page-header {
  outline: 1px solid tomato;
}

/* LOGO */
.logo {
  text-decoration: none;
}

.logo .studio,
.logo .web {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--accent-color);
}

/* HEADER NAVIGATION AND CONTACTS */
.main-nav {
  display: flex;
  align-items: center;
}

.main-contacts {
  display: flex;
  margin-left: auto;
}

.site-nav {
  display: flex;
}

.contacts {
  display: flex;
}

.container .main-nav {
  padding-left: 20px;
  padding-right: 20px;
}

.site-nav .item {
  margin-left: 76px;
}

.site-nav .item + .item,
.contacts .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  font-weight: 500;
  text-decoration: none;
}

.contacts .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero-title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 48px;
}

.hero {
  text-align: center;
}

/* BUTTONS AND FILTERS-BUTTON */
.button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--accent-color);
  min-width: 169px;

  padding: 16px 32px;
  border-radius: 4px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
}

.filters .link {
  display: inline-block;
  color: var(--accent-color);

  border-radius: 4px;
  padding: 12px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}

.container .service-list {
  padding-top: 72px;
}

.container .filters {
  padding-top: 96px;
}

.filters .link:hover,
.filters .link:active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* WHAT WE CAN DO */
.our-work > .item {
  padding-top: 72px;
}

/* SECTIONS */
.section-title.centered {
  text-align: center;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 0;
  padding-bottom: 120px;
}

/* TEAM LIST */
.team-list .title {
  margin-top: 32px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list .text {
  margin-top: 8px;
  margin-bottom: 0;
}

/* OUR APPROACH */
.feature-list .title {
  margin-top: 0px;
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 0px;
}

/* OUR SERVICES */
.service-list .title {
  margin-top: 32px;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.service-list p {
  margin-top: 8px;
  margin-bottom: 0;
}

/* FOOTER */

.container .footer-text {
  margin-top: 16px;
  margin-bottom: 0;
}

.footer {
  margin-top: 0;
  margin-bottom: 0;
}
